{{!-- Skill Bonuses Partial --}}
<div class="skill-bonuses-section">
  {{!-- Attribute Bonuses --}}
  {{#if system.attributes}}
  <div class="bonus-category">
    <h3>Attribute Bonuses</h3>
    <div class="bonus-grid">
      {{#each system.attributes as |bonus attr|}}
      <div class="bonus-item">
        <label>{{capitalize attr}}</label>
        <input type="number" name="system.attributes.{{attr}}.add_talent" value="{{bonus.add_talent}}" placeholder="0"/>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Basic Skill Bonuses --}}
  {{#if system.basic}}
  <div class="bonus-category">
    <h3>Basic Skill Bonuses</h3>
    <div class="bonus-grid">
      {{#each system.basic as |bonus skill|}}
      <div class="bonus-item">
        <label>{{capitalize skill}}</label>
        <input type="number" name="system.basic.{{skill}}.add_bonus" value="{{bonus.add_bonus}}" placeholder="0"/>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Weapon Skill Bonuses --}}
  {{#if system.weapon}}
  <div class="bonus-category">
    <h3>Weapon Skill Bonuses</h3>
    <div class="weapon-bonus-grid">
      {{#each system.weapon as |bonus skill|}}
      <div class="weapon-bonus-item">
        <h4>{{capitalize skill}}</h4>
        <div class="bonus-inputs">
          <div class="form-group">
            <label>Bonus</label>
            <input type="number" name="system.weapon.{{skill}}.add_bonus" value="{{bonus.add_bonus}}" placeholder="0"/>
          </div>
          <div class="form-group">
            <label>Talent</label>
            <input type="number" name="system.weapon.{{skill}}.add_talent" value="{{bonus.add_talent}}" placeholder="0"/>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Magic Skill Bonuses --}}
  {{#if system.magic}}
  <div class="bonus-category">
    <h3>Magic Skill Bonuses</h3>
    <div class="weapon-bonus-grid">
      {{#each system.magic as |bonus skill|}}
      <div class="weapon-bonus-item">
        <h4>{{capitalize skill}}</h4>
        <div class="bonus-inputs">
          <div class="form-group">
            <label>Bonus</label>
            <input type="number" name="system.magic.{{skill}}.add_bonus" value="{{bonus.add_bonus}}" placeholder="0"/>
          </div>
          <div class="form-group">
            <label>Talent</label>
            <input type="number" name="system.magic.{{skill}}.add_talent" value="{{bonus.add_talent}}" placeholder="0"/>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Crafting Skill Bonuses --}}
  {{#if system.craft}}
  <div class="bonus-category">
    <h3>Crafting Skill Bonuses</h3>
    <div class="weapon-bonus-grid">
      {{#each system.craft as |bonus skill|}}
      <div class="weapon-bonus-item">
        <h4>{{capitalize skill}}</h4>
        <div class="bonus-inputs">
          <div class="form-group">
            <label>Bonus</label>
            <input type="number" name="system.craft.{{skill}}.add_bonus" value="{{bonus.add_bonus}}" placeholder="0"/>
          </div>
          <div class="form-group">
            <label>Talent</label>
            <input type="number" name="system.craft.{{skill}}.add_talent" value="{{bonus.add_talent}}" placeholder="0"/>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>