<div class="moves-section">
  <div class="section-header">
    <h3>{{#if header}}{{header}}{{else}}Attacks{{/if}}</h3>
  </div>
  <div class="moves-list">
    {{#if attackActions}}
    {{!-- NPC Attack Actions --}}
    {{#each attackActions as |ability|}}
    <div class="ability-item ability-clickable attack-card" data-item-id="{{ability._id}}" data-ability-type="attack" data-energy-cost="{{ability.system.energy}}" title="Click to use this attack">
      <div class="ability-icon">
        <img src="{{ability.img}}" alt="{{ability.name}}" />
      </div>
      <div class="ability-content">
        <div class="ability-header">
          <h4 class="ability-name attack">{{removeActionPrefix ability.name}}</h4>
          <div class="ability-energy">
            Energy:
            {{#if (eq ability.system.energy 0)}}
              None
            {{else}}
              {{#times ability.system.energy}}
                <i class="fas fa-star filled"></i>
              {{/times}}
            {{/if}}
          </div>
          <div class="ability-tags">
            {{#if ability.system.daily}}
              <span class="daily-badge">Daily</span>
            {{/if}}
            {{#if ability.system.magic}}
              <span class="magic-badge">Magic</span>
            {{/if}}
          </div>
        </div>
        {{#if ability.system.description}}
        <p class="ability-description">{{ability.system.description}}</p>
        {{/if}}
      </div>
      <div class="ability-controls">
        <a class="item-control item-edit" data-item-id="{{ability._id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-item-id="{{ability._id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
    {{else}}
    {{!-- Character Equipped Weapons --}}
    {{#each equippedWeapons as |attack|}}
    <div class="weapon-attack-item">
      <div class="weapon-attack-header">
        <div class="weapon-icon">
          <img src="{{attack.weaponIcon}}" alt="{{attack.weaponName}}" />
        </div>
        <div class="weapon-info">
          <h4 class="weapon-name">{{attack.weaponName}} [{{attack.category}}]</h4>
          <div class="weapon-meta">
            <span class="attack-type">{{attack.attackType}}</span>
            <span class="energy-cost">
              Energy:
              {{#if (eq attack.energy 0)}}
                None
              {{else}}
                {{#times attack.energy}}
                  <i class="fas fa-star filled"></i>
                {{/times}}
              {{/if}}
            </span>
            <span class="range">{{attack.rangeText}}</span>
          </div>
        </div>
      </div>
      <div class="weapon-attack-details weapon-attack-clickable" data-attack-index="{{@index}}" title="Click to roll attack">
        <div class="damage-info">
          <span class="damage-dice">[{{attack.damage}}/{{attack.damageExtra}}]</span>
          <span class="damage-type-box {{attack.damageType.cssClass}}">{{attack.damageType.text}}</span>
          <span class="attack-dice">{{attack.attackDice}}{{attack.attackDiceType}}{{#if attack.attackKeepLowest}}kl1{{/if}}</span>
          {{#if (gt attack.secondaryDamage 0)}}
          <span class="secondary-damage-dice">[{{attack.secondaryDamage}}/{{attack.secondaryDamageExtra}}]</span>
          <span class="damage-type-box {{attack.secondaryDamageType.cssClass}}">{{attack.secondaryDamageType.text}}</span>
          {{/if}}
        </div>
      </div>
    </div>
    {{else}}
    <div class="no-weapons-message">
      <em>No weapons equipped</em>
    </div>
    {{/each}}
    {{/if}}
    {{#if (and (not attackActions) (not equippedWeapons))}}
    <div class="empty-message">
      <em>No attacks available</em>
    </div>
    {{/if}}
  </div>
</div>
