<div class="moves-section">
  <div class="section-header">
    <h3>{{header}}</h3>
  </div>
  <div class="moves-list">
    {{#each items as |ability|}}
    <div class="ability-item ability-clickable" data-item-id="{{ability._id}}" data-ability-type="{{../abilityType}}" data-energy-cost="{{ability.system.energy}}" title="{{../clickTitle}}">
      <div class="ability-icon">
        <img src="{{ability.img}}" alt="{{ability.name}}" />
      </div>
      <div class="ability-content">
        <div class="ability-header">
          <h4 class="ability-name">{{removeActionPrefix ability.name}}</h4>
          <div class="ability-energy">
            Energy:
            {{#if (eq ability.system.energy 0)}}
              None
            {{else}}
              {{#times ability.system.energy}}
                <i class="fas fa-star filled"></i>
              {{/times}}
            {{/if}}
          </div>
          <div class="ability-tags">
            {{#if ability.system.daily}}
              <span class="daily-badge">Daily</span>
            {{/if}}
            {{#if ability.system.magic}}
              <span class="magic-badge">Magic</span>
            {{/if}}
          </div>
        </div>
        {{#if (or (eq ability.system.abilityType "attack") (eq ability.system.abilityType "simple_attack"))}}
        <div class="ability-damage-info">
          {{#if ability.system.roll}}
          <span class="attack-dice-small">{{ability.system.roll}}</span>
          {{/if}}
          {{#if ability.system.damage}}
          <span class="damage-dice">[{{ability.system.damage}}/{{ability.system.damage_extra}}]</span>
          <span class="damage-type-box damage-type-{{lowercase ability.system.damage_type}}">{{ability.system.damage_type}}</span>
          {{/if}}
          {{#if (gt ability.system.secondary_damage 0)}}
          <span class="secondary-damage-dice">[{{ability.system.secondary_damage}}/{{ability.system.secondary_damage_extra}}]</span>
          <span class="damage-type-box damage-type-{{lowercase ability.system.secondary_damage_type}}">{{ability.system.secondary_damage_type}}</span>
          {{/if}}
        </div>
        {{/if}}
        {{#if ability.system.description}}
        <p class="ability-description">{{ability.system.description}}</p>
        {{/if}}
      </div>
      <div class="ability-controls">
        <a class="item-control item-edit" data-item-id="{{ability._id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" data-item-id="{{ability._id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </div>
    {{else}}
    <div class="empty-message">{{emptyMessage}}</div>
    {{/each}}
  </div>
</div>
