{{!-- Skills Page --}}
<div class="skills-page">

  {{!-- Skills Grid --}}
  <div class="skills-grid">
    {{!-- Left Column --}}
    <div class="skills-column">
      {{!-- Physique --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-dumbbell"></i>
            Physique
          </h3>
          <div class="talent-stars">
            {{#times system.attributes.physique.value}}
              <i class="fas fa-star filled"></i>
            {{/times}}
          </div>
        </div>
        <div class="skills-list">
          {{#each skillCategories.basic as |skill key|}}
            {{#if (eq skill.attribute "physique")}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die {{skillUpgradeClass skill.diceTierModifier}}">{{skill.talent}}{{skillDieWithUpgrade skill.value skill.diceTierModifier}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Finesse --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-feather-alt"></i>
            Finesse
          </h3>
          <div class="talent-stars">
            {{#times system.attributes.finesse.value}}
              <i class="fas fa-star filled"></i>
            {{/times}}
          </div>
        </div>
        <div class="skills-list">
          {{#each skillCategories.basic as |skill key|}}
            {{#if (eq skill.attribute "finesse")}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die {{skillUpgradeClass skill.diceTierModifier}}">{{skill.talent}}{{skillDieWithUpgrade skill.value skill.diceTierModifier}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Mind --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-brain"></i>
            Mind
          </h3>
          <div class="talent-stars">
            {{#times system.attributes.mind.value}}
              <i class="fas fa-star filled"></i>
            {{/times}}
          </div>
        </div>
        <div class="skills-list">
          {{#each skillCategories.basic as |skill key|}}
            {{#if (eq skill.attribute "mind")}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die {{skillUpgradeClass skill.diceTierModifier}}">{{skill.talent}}{{skillDieWithUpgrade skill.value skill.diceTierModifier}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

    {{!-- Right Column --}}
    <div class="skills-column">
      {{!-- Knowledge --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-book"></i>
            Knowledge
          </h3>
          <div class="talent-stars">
            {{#times system.attributes.knowledge.value}}
              <i class="fas fa-star filled"></i>
            {{/times}}
          </div>
        </div>
        <div class="skills-list">
          {{#each skillCategories.basic as |skill key|}}
            {{#if (eq skill.attribute "knowledge")}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die {{skillUpgradeClass skill.diceTierModifier}}">{{skill.talent}}{{skillDieWithUpgrade skill.value skill.diceTierModifier}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Social --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-comments"></i>
            Social
          </h3>
          <div class="talent-stars">
            {{#times system.attributes.social.value}}
              <i class="fas fa-star filled"></i>
            {{/times}}
          </div>
        </div>
        <div class="skills-list">
          {{#each skillCategories.basic as |skill key|}}
            {{#if (eq skill.attribute "social")}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die {{skillUpgradeClass skill.diceTierModifier}}">{{skill.talent}}{{skillDieWithUpgrade skill.value skill.diceTierModifier}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Crafting Skills --}}
      <div class="attribute-block">
        <div class="attribute-header">
          <h3 class="attribute-name">
            <i class="fas fa-hammer"></i>
            Crafting
          </h3>
        </div>
        <div class="skills-list">
          {{#each skillCategories.crafting as |skill key|}}
            {{#if skill.talent}}
            <div class="skill-row">
              <span class="skill-name rollable skill-roll" data-category="crafting" data-skill="{{key}}">{{localizeSkill key}}</span>
              <div class="skill-value-group">
                <span class="talent-stars-skill">
                {{#times skill.talent}}
                  <i class="fas fa-star filled"></i>
                {{/times}}
              </span>
                <span class="skill-modifier">({{skill.value}})</span>
                <span class="skill-die">{{skill.talent}}{{skillDie skill.value}}</span>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{!-- Specialized Skills --}}
  <div class="specialized-skills">
    {{!-- Weapon Skills --}}
    {{#if (hasAnyTalent skillCategories.weapon)}}
    <div class="skill-category-block">
      <h3 class="category-header">
        <i class="fas fa-sword"></i>
        Weapon Skills
      </h3>
      <div class="specialized-grid">
        {{#each skillCategories.weapon as |skill key|}}
          {{#if skill.talent}}
          <div class="specialized-skill">
            <span class="skill-name rollable skill-roll" data-category="weapon" data-skill="{{key}}">{{localizeSkill key}}</span>
            <div class="skill-value-group">
              <span class="talent-stars-skill">
                {{#times skill.talent}}
                  <i class="fas fa-star filled"></i>
                {{/times}}
              </span>
              <span class="skill-modifier">({{skill.value}})</span>
              <span class="skill-die">{{skill.talent}}{{skillDie skill.value}}</span>
            </div>
          </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    {{/if}}

    {{!-- Magic Skills --}}
    {{#if (hasAnyTalent skillCategories.magic)}}
    <div class="skill-category-block">
      <h3 class="category-header">
        <i class="fas fa-magic"></i>
        Magic Skills
      </h3>
      <div class="specialized-grid">
        {{#each skillCategories.magic as |skill key|}}
          {{#if skill.talent}}
          <div class="specialized-skill">
            <span class="skill-name rollable skill-roll" data-category="magic" data-skill="{{key}}">{{localizeSkill key}}</span>
            <div class="skill-value-group">
              <span class="talent-stars-skill">
                {{#times skill.talent}}
                  <i class="fas fa-star filled"></i>
                {{/times}}
              </span>
              <span class="skill-modifier">({{skill.value}})</span>
              <span class="skill-die">{{skill.talent}}{{skillDie skill.value}}</span>
            </div>
          </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
    {{/if}}

    {{!-- Music Skills --}}
    <div class="skill-category-block">
      <h3 class="category-header">
        <i class="fas fa-music"></i>
        Music Skills
      </h3>
      <div class="specialized-grid">
        {{#each skillCategories.music as |skill key|}}
          <div class="specialized-skill" data-music-key="{{key}}">
            <span class="skill-name">
              {{!-- Instrument icon per key --}}
              {{#if (eq key 'brass')}}
                <img class="skill-icon" src="icons/tools/instruments/bell-gold.webp" alt="Brass"/>
              {{/if}}
              {{#if (eq key 'percussion')}}
                <img class="skill-icon" src="icons/tools/instruments/drum-brown-red.webp" alt="Percussion"/>
              {{/if}}
              {{#if (eq key 'strings')}}
                <img class="skill-icon" src="icons/tools/instruments/lute-gold-brown.webp" alt="Strings"/>
              {{/if}}
              {{#if (eq key 'wind')}}
                <img class="skill-icon" src="icons/tools/instruments/flute-simple-wood.webp" alt="Wind"/>
              {{/if}}
              {{#if (eq key 'vocals')}}
                <img class="skill-icon" src="icons/tools/instruments/megaphone.webp" alt="Vocals"/>
              {{/if}}
              {{capitalize key}}
            </span>
            <div class="skill-value-group">
              <span class="talent-stars-skill music-stars" data-music-key="{{key}}">
                {{!-- Filled stars --}}
                {{#times skill.talent}}
                  <i class="fas fa-star music-star filled" data-star-level="{{sum this 1}}"></i>
                {{/times}}
                {{!-- Empty stars --}}
                {{#times (subtract 3 skill.talent)}}
                  <i class="far fa-star music-star empty" data-star-level="{{sum (sum ../skill.talent this) 1}}"></i>
                {{/times}}
              </span>
            </div>
            <span class="skill-controls skill-controls--spacer"></span>
          </div>
        {{/each}}
      </div>
    </div>

    {{!-- Language Skills --}}
    {{#with skillCategories.language}}
    {{#if this}}
    <div class="skill-category-block">
      <h3 class="category-header">
        <i class="fas fa-comments"></i>
        Language Skills
      </h3>
      <div class="specialized-grid">
        {{#each this as |skill key|}}
          <div class="specialized-skill" data-item-id="{{skill.itemId}}">
            <span class="skill-name" data-category="language" data-skill="{{key}}" data-item-id="{{skill.itemId}}">
              <img class="skill-icon" src="{{skill.img}}" alt="{{skill.name}}"/>
              {{skill.name}}
            </span>
            <div class="skill-value-group">
              <span class="talent-stars-skill language-stars" data-item-id="{{skill.itemId}}" data-current-talent="{{skill.talent}}">
                {{!-- Filled stars --}}
                {{#times skill.talent}}
                  <i class="fas fa-star language-star filled" data-star-level="{{sum this 1}}"></i>
                {{/times}}
                {{!-- Empty stars --}}
                {{#times (subtract 3 skill.talent)}}
                  <i class="far fa-star language-star empty" data-star-level="{{sum (sum ../skill.talent this) 1}}"></i>
                {{/times}}
              </span>
            </div>
            <span class="skill-controls">
              <a class="language-delete" data-item-id="{{skill.itemId}}" title="Remove language">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
    {{/with}}
  </div>
</div>
