{{!-- Skills Organized by Attribute --}}
<div class="skills-by-attribute">
  <h3>Skills & Attributes</h3>
  
  {{!-- Physique Attribute and Skills --}}
  <div class="attribute-section">
    <div class="attribute-header flexrow">
      <h4 class="attribute-name" data-attribute="physique">
        Physique
      </h4>
      <div class="attribute-value">
        <input type="number" name="system.attributes.physique.value" value="{{system.attributes.physique.value}}" data-dtype="Number" min="1" max="4"/>
        <span class="talent-label">talents</span>
      </div>
    </div>
    <div class="attribute-skills">
      {{#each skillCategories.basic as |skill key|}}
        {{#if (eq skill.attribute "physique")}}
        <div class="skill flexrow">
          <label class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{capitalize key}}</label>
          <div class="skill-fields flexrow">
            <span class="skill-plus">+</span>
            <input type="number" class="skill-value" name="system.basic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
            <span class="skill-dice">{{skillDie skill.value}}</span>
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{!-- Finesse Attribute and Skills --}}
  <div class="attribute-section">
    <div class="attribute-header flexrow">
      <h4 class="attribute-name" data-attribute="finesse">
        Finesse
      </h4>
      <div class="attribute-value">
        <input type="number" name="system.attributes.finesse.value" value="{{system.attributes.finesse.value}}" data-dtype="Number" min="1" max="4"/>
        <span class="talent-label">talents</span>
      </div>
    </div>
    <div class="attribute-skills">
      {{#each skillCategories.basic as |skill key|}}
        {{#if (eq skill.attribute "finesse")}}
        <div class="skill flexrow">
          <label class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{capitalize key}}</label>
          <div class="skill-fields flexrow">
            <span class="skill-plus">+</span>
            <input type="number" class="skill-value" name="system.basic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
            <span class="skill-dice">{{skillDie skill.value}}</span>
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{!-- Mind Attribute and Skills --}}
  <div class="attribute-section">
    <div class="attribute-header flexrow">
      <h4 class="attribute-name" data-attribute="mind">
        Mind
      </h4>
      <div class="attribute-value">
        <input type="number" name="system.attributes.mind.value" value="{{system.attributes.mind.value}}" data-dtype="Number" min="1" max="4"/>
        <span class="talent-label">talents</span>
      </div>
    </div>
    <div class="attribute-skills">
      {{#each skillCategories.basic as |skill key|}}
        {{#if (eq skill.attribute "mind")}}
        <div class="skill flexrow">
          <label class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{capitalize key}}</label>
          <div class="skill-fields flexrow">
            <span class="skill-plus">+</span>
            <input type="number" class="skill-value" name="system.basic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
            <span class="skill-dice">{{skillDie skill.value}}</span>
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{!-- Knowledge Attribute and Skills --}}
  <div class="attribute-section">
    <div class="attribute-header flexrow">
      <h4 class="attribute-name" data-attribute="knowledge">
        Knowledge
      </h4>
      <div class="attribute-value">
        <input type="number" name="system.attributes.knowledge.value" value="{{system.attributes.knowledge.value}}" data-dtype="Number" min="1" max="4"/>
        <span class="talent-label">talents</span>
      </div>
    </div>
    <div class="attribute-skills">
      {{#each skillCategories.basic as |skill key|}}
        {{#if (eq skill.attribute "knowledge")}}
        <div class="skill flexrow">
          <label class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{capitalize key}}</label>
          <div class="skill-fields flexrow">
            <span class="skill-plus">+</span>
            <input type="number" class="skill-value" name="system.basic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
            <span class="skill-dice">{{skillDie skill.value}}</span>
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{!-- Social Attribute and Skills --}}
  <div class="attribute-section">
    <div class="attribute-header flexrow">
      <h4 class="attribute-name" data-attribute="social">
        Social
      </h4>
      <div class="attribute-value">
        <input type="number" name="system.attributes.social.value" value="{{system.attributes.social.value}}" data-dtype="Number" min="1" max="4"/>
        <span class="talent-label">talents</span>
      </div>
    </div>
    <div class="attribute-skills">
      {{#each skillCategories.basic as |skill key|}}
        {{#if (eq skill.attribute "social")}}
        <div class="skill flexrow">
          <label class="skill-name rollable skill-roll" data-category="basic" data-skill="{{key}}">{{capitalize key}}</label>
          <div class="skill-fields flexrow">
            <span class="skill-plus">+</span>
            <input type="number" class="skill-value" name="system.basic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
            <span class="skill-dice">{{skillDie skill.value}}</span>
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  {{!-- Weapon Skills --}}
  <div class="skill-category">
    <h4>Weapon Skills</h4>
    {{#each skillCategories.weapon as |skill key|}}
    <div class="skill flexrow">
      <label class="skill-name rollable skill-roll" data-category="weapon" data-skill="{{key}}">{{capitalize key}}</label>
      <div class="skill-fields flexrow">
        <span class="skill-talent">{{skill.talent}}</span>
        <span class="skill-plus">+</span>
        <input type="number" class="skill-value" name="system.weapon.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
        <span class="skill-dice">{{skillDie skill.value}}</span>
      </div>
    </div>
    {{/each}}
  </div>

  {{!-- Magic Skills --}}
  <div class="skill-category">
    <h4>Magic Skills</h4>
    {{#each skillCategories.magic as |skill key|}}
    <div class="skill flexrow">
      <label class="skill-name rollable skill-roll" data-category="magic" data-skill="{{key}}">{{capitalize key}}</label>
      <div class="skill-fields flexrow">
        <span class="skill-talent">{{skill.talent}}</span>
        <span class="skill-plus">+</span>
        <input type="number" class="skill-value" name="system.magic.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
        <span class="skill-dice">{{skillDie skill.value}}</span>
      </div>
    </div>
    {{/each}}
  </div>

  {{!-- Crafting Skills --}}
  <div class="skill-category">
    <h4>Crafting Skills</h4>
    {{#each skillCategories.crafting as |skill key|}}
    <div class="skill flexrow">
      <label class="skill-name rollable skill-roll" data-category="crafting" data-skill="{{key}}">{{capitalize key}}</label>
      <div class="skill-fields flexrow">
        <span class="skill-talent">{{skill.talent}}</span>
        <span class="skill-plus">+</span>
        <input type="number" class="skill-value" name="system.crafting.{{key}}.value" value="{{skill.value}}" data-dtype="Number" min="0" max="6"/>
        <span class="skill-dice">{{skillDie skill.value}}</span>
      </div>
    </div>
    {{/each}}
  </div>

</div>