{{!-- Spells Tab Content --}}
<div class="spells-section">
  <div class="section-header">
    <h3>Spells</h3>
    <div class="spell-slots">
      <label>Spell Slots: {{spells.length}} / {{system.spellSlots.max}}</label>
    </div>
    <a class="item-control item-create" title="Create spell" data-type="spell"><i class="fas fa-plus"></i></a>
  </div>

  <div class="spells-list">
    {{#each spells as |item id|}}
    <div class="anyventure-spell-card {{#if item.system.fizzled}}fizzled{{/if}}" data-item-id="{{item._id}}">

      {{!-- Spell Icon --}}
      <div class="spell-icon">
        <img src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}"/>
      </div>

      {{!-- Spell Content --}}
      <div class="spell-content">
        <div class="spell-header">
          <div class="spell-name">{{item.name}}</div>

          <div class="spell-tags">
            {{#if item.system.concentration}}
            <span class="concentration-badge">Concentration</span>
            {{/if}}
          </div>

          <div class="spell-energy">
            <div class="energy-line">
              {{#if item.system.energy}}
                Energy: {{#each (range 1 (add item.system.energy 1))}}<i class="fas fa-star"></i>{{/each}}
              {{else}}
                Energy: None
              {{/if}}
            </div>
          </div>
        </div>

        <div class="spell-details">
          <div class="spell-school">
            {{#if item.system.school}}{{item.system.school}}{{/if}}
            {{#if item.system.subschool}}({{item.system.subschool}}){{/if}}
          </div>

          <div class="spell-range">
            {{#if item.system.range}}{{formatSpellRange item.system.range}}{{/if}}
          </div>

          <div class="spell-casting">
            {{#if item.system.fizzled}}
              <span class="school-roll fizzled">Fizzled</span>
            {{else if item.system.cantChannel}}
              <span class="school-roll cant-channel">Not Possible</span>
            {{else}}
              <span class="school-roll">{{item.system.castingFormula}}</span>
            {{/if}}
          </div>
        </div>
      </div>

      {{!-- Spell Check Side Column --}}
      <div class="spell-side">
        <div class="spell-check">
          <div class="check-label">Check</div>
          <div class="check-box">{{item.system.checkToCast}}</div>
        </div>
      </div>

      {{!-- Controls --}}
      <div class="spell-controls" onclick="event.stopPropagation();">
        <a class="item-control item-edit" title="Edit Spell"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
      </div>

    </div>
    {{/each}}

    {{#unless spells}}
    <div class="empty-message">
      <p>No spells learned yet. Create a spell to get started!</p>
    </div>
    {{/unless}}
  </div>
</div>
