<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources flexrow">
        <div class="resource flex2">
          <label for="system.details.race" class="resource-label">Race</label>
          <input type="text" name="system.details.race" value="{{system.details.race}}" data-dtype="String"/>
        </div>
        <div class="resource flex2">
          <label for="system.details.culture" class="resource-label">Culture</label>
          <input type="text" name="system.details.culture" value="{{system.details.culture}}" data-dtype="String"/>
        </div>
        <div class="resource flex1">
          <label for="system.modulePoints.total" class="resource-label">Module Points</label>
          <input type="text" name="system.modulePoints.total" value="{{system.modulePoints.total}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="modules">Modules</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="skills">
      <div class="left-column">
        
        {{!-- Resources --}}
        <div class="resources flexrow">
          <div class="resource">
            <label for="system.resources.health.value" class="resource-label">Health</label>
            <div class="resource-content flexrow flex-center">
              <input type="number" name="system.resources.health.value" value="{{system.resources.health.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="number" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource">
            <label for="system.resources.resolve.value" class="resource-label">Resolve</label>
            <div class="resource-content flexrow flex-center">
              <input type="number" name="system.resources.resolve.value" value="{{system.resources.resolve.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="number" name="system.resources.resolve.max" value="{{system.resources.resolve.max}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="resource">
            <label for="system.resources.energy.value" class="resource-label">Energy</label>
            <div class="resource-content flexrow flex-center">
              <input type="number" name="system.resources.energy.value" value="{{system.resources.energy.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="number" name="system.resources.energy.max" value="{{system.resources.energy.max}}" data-dtype="Number"/>
            </div>
          </div>
        </div>

        {{!-- Character Creation Points --}}
        <div class="creation-points">
          <div class="attribute-points">
            <label>Available Attribute Points: {{availableAttributePoints}}</label>
          </div>
          <div class="module-points">
            <label>Available Module Points: {{availableModulePoints}}</label>
          </div>
        </div>

      </div>

      <div class="right-column">
        {{!-- Include Skills Partial --}}
        {{> "systems/anyventure/templates/partials/skills.hbs"}}
      </div>
    </div>

    {{!-- Modules Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="modules">
      {{> "systems/anyventure/templates/partials/modules.hbs"}}
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="equipment">
      {{> "systems/anyventure/templates/partials/equipment.hbs"}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="spells">
      {{> "systems/anyventure/templates/partials/spells.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{> "systems/anyventure/templates/partials/biography.hbs"}}
    </div>

  </section>
</form>