<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Armor Name"/></h1>
      <div class="item-subtitle">
        <input type="text" name="system.source" value="{{system.source}}" placeholder="Source"/>
      </div>
      <div class="armor-basics flexrow">
        <div class="form-group">
          <label>Category</label>
          <select name="system.armor_data.category" data-dtype="String">
            {{#each armorCategories as |category|}}
            <option value="{{category.value}}" {{#if (eq ../system.armor_data.category category.value)}}selected{{/if}}>{{category.label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label>Base Mitigation</label>
          <input type="number" name="system.armor_data.base_mitigation" value="{{system.armor_data.base_mitigation}}" data-dtype="Number"/>
        </div>
        <div class="form-group">
          <label>Dex Limit</label>
          <input type="number" name="system.armor_data.dexterity_limit" value="{{system.armor_data.dexterity_limit}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="properties">Properties</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="form-group stacked">
        <label>Description</label>
        <div class="form-fields">
          {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Properties Tab --}}
    <div class="tab" data-group="primary" data-tab="properties">
      <div class="armor-properties">
        
        <div class="form-group">
          <label>Weight</label>
          <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" step="0.1"/>
        </div>

        <div class="form-group">
          <label>Value</label>
          <input type="number" name="system.value" value="{{system.value}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
          <label>Rarity</label>
          <select name="system.rarity" data-dtype="String">
            <option value="common" {{#if (eq system.rarity "common")}}selected{{/if}}>Common</option>
            <option value="uncommon" {{#if (eq system.rarity "uncommon")}}selected{{/if}}>Uncommon</option>
            <option value="rare" {{#if (eq system.rarity "rare")}}selected{{/if}}>Rare</option>
            <option value="epic" {{#if (eq system.rarity "epic")}}selected{{/if}}>Epic</option>
            <option value="legendary" {{#if (eq system.rarity "legendary")}}selected{{/if}}>Legendary</option>
            <option value="artifact" {{#if (eq system.rarity "artifact")}}selected{{/if}}>Artifact</option>
          </select>
        </div>

      </div>
    </div>

  </section>
</form>